.Main {
    width: 100vw;
    z-index: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 50px;
    padding-left: 30px;
    opacity: 1;
}

.SeccionH1 {
    color: #7286D3;
    font-size: 32px;
}

@media (min-width: 600px) {
    .Main {
        padding-left: 230px;
    }
}

@media (min-width:1200px) {
    .Main {
        height: 500vh;
        width: 98vw;
    }
}