.Perfil {
    width: 30px;
    border-right: 2px solid #8EA7E9;
    height: 110vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 25px;
    position: fixed;
    top: 0;
    left: 1;
    z-index: 2;
}

@media (min-width: 768px) {

    .PerfilExpand {
        display: flex;
        flex-direction: column;
    }
}