.App {
  display: flex;
  flex-direction: row;
  width: 50vw;
  background-color: white;
}

@media (min-width: 768px) {

  .scrolling-app {
    transition:
      margin-top 0.3s ease
  }

  .scrolled-app {
    margin-top: 250px;
  }
}